<section class="body-grey-page products">
    <div class="container">
        <div class="row">
            <div class="col-6">
                <div class="product-box">
                    <div class="row w-100 mx-auto">
                        <div class="col-12 col-md-6 mx-auto p-0">
                            <div class="property-image">
                                <img class="img-responsive" src="~/img/Teeth-Whitening.jpg" alt="Product">
                            </div>
                        </div>
                        <div class="col-12 col-md-6 mx-auto align-self-center p-0">
                            <div class="product-details p-3 p-md-4 p-lg-5">
                                <h5 class="text-blue mb-4">Complex Product 1</h5>
                                <p>
                                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Assumenda inventore,
                                    beatae maiores labore modi in dolor vel totam ab veritatis facilis explicabo,
                                </p>
                                <button class="bg-blue rounded-2 px-3">More</button>
                            </div><!--.product-details-->
                        </div>
                    </div><!--.row-->
                </div><!--.product-box-->
            </div><!--.col-6-->
            <div class="col-6">
                <div class="product-box">
                    <div class="row w-100 mx-auto">
                        <div class="col-12 col-md-6 mx-auto p-0">
                            <div class="property-image">
                                <img class="img-responsive" src="~/img/Teeth-Whitening.jpg" alt="Product">
                            </div>
                        </div>
                        <div class="col-12 col-md-6 mx-auto align-self-center p-0">
                            <div class="product-details p-3 p-md-4 p-lg-5">
                                <h5 class="text-blue mb-4">Complex Product 2</h5>
                                <p>
                                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Assumenda inventore,
                                    beatae maiores labore modi in dolor vel totam ab veritatis facilis explicabo,
                                </p>
                                <button class="bg-blue rounded-2 px-3">More</button>
                            </div><!--.product-details-->
                        </div>
                    </div><!--.row-->
                </div><!--.product-box-->
            </div><!--.col-6-->
            <div class="col-6">
                <div class="product-box">
                    <div class="row w-100 mx-auto">
                        <div class="col-12 col-md-6 mx-auto p-0">
                            <div class="property-image">
                                <img class="img-responsive" src="~/img/Teeth-Whitening.jpg" alt="Product">
                            </div>
                        </div>
                        <div class="col-12 col-md-6 mx-auto align-self-center p-0">
                            <div class="product-details p-3 p-md-4 p-lg-5">
                                <h5 class="text-blue mb-4">Complex Product 3</h5>
                                <p>
                                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Assumenda inventore,
                                    beatae maiores labore modi in dolor vel totam ab veritatis facilis explicabo,
                                </p>
                                <button class="bg-blue rounded-2 px-3">More</button>
                            </div><!--.product-details-->
                        </div>
                    </div><!--.row-->
                </div><!--.product-box-->
            </div><!--.col-6-->
            <div class="col-6">
                <div class="product-box">
                    <div class="row w-100 mx-auto">
                        <div class="col-12 col-md-6 mx-auto p-0">
                            <div class="property-image">
                                <img class="img-responsive" src="~/img/Teeth-Whitening.jpg" alt="Product">
                            </div>
                        </div>
                        <div class="col-12 col-md-6 mx-auto align-self-center p-0">
                            <div class="product-details p-3 p-md-4 p-lg-5">
                                <h5 class="text-blue mb-4">Complex Product 4</h5>
                                <p>
                                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Assumenda inventore,
                                    beatae maiores labore modi in dolor vel totam ab veritatis facilis explicabo,
                                </p>
                                <button class="bg-blue rounded-2 px-3">More</button>
                            </div><!--.product-details-->
                        </div>
                    </div><!--.row-->
                </div><!--.product-box-->
            </div><!--.col-6-->
        </div>
    </div>
</section>